[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Simon Wictorsson
	email = SimpaWic@users.noreply.github.com

[init]
  defaultBranch = main

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[include]
	path = ~/repos/tokyonight.nvim/extras/delta/tokyonight_storm.gitconfig

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = false
	line-numbers = true
	syntax-theme = tokyonight_storm
